@import url(./abstracts/vars.css);

@import url(./base/base.css);
@import url(./base/typography.css);

@import url(./layaout/header.css);
@import url(./layaout/grid.css);
@import url(./layaout/footer.css);
@import url(./layaout/forms.css);
@import url(./layaout/navigation.css);

@import url(./components/components.css);



.vector-img {
    margin-top: 2rem;
}


/*space*/
.img-in-the-middle {
    margin-top: 3.5rem;
    width: 100%;
    height: 28rem;
}

/*space*/

.img-dish {
    width: 37rem;
    border-radius: 50%;
    margin-left: 6rem;
}

.dish-name {
    margin-bottom: 10px;
}

.description {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 3rem;
}

.dish-caracteristics {
    display: flex;
}

.margin-details {
    margin-bottom: 0;
}

.margin-text {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}

@media (max-width: 767.98px) {

    .container-width{
        width: 85vw;
    }

    
}