/*footer menu page*/
.footer{
    background: var(--clr-wine);
    width: 100%;
    display: grid;
    margin-top: 4rem;
}

.footer-content{
    display: grid;
    width: 85vw; 
    margin: 2.5rem auto;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 2rem;
    color: var(--clr-white);
    line-height: 1.4;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 3.5rem;
}
/*footer menu page*/

/*nav bottom*/
.nav-bottom-list{
    padding: 0;
    list-style-type: none;
}

.nav-bottom-link{
    color: var(--clr-white);
    text-decoration: none;
}
/*nav bottom*/