/*image container*/
.img-container {
    border: 2px solid var(--clr-gold);
    border-radius: 2rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.dish-img {
    display: block;
    width: 100%;
    height: 10rem;
}
/*image container*/

/*see more btn*/
.btn {
    display: block;
    align-items: center;
    text-align: center;
    background: var(--clr-gold);
    color: var(--clr-white);
    font-weight: var(--fw-md);
    font-size: var(--fs-md);
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
/*see more btn*/

.img-star {
    width: 2rem;
}

.star-btn {

    position: absolute;
    background: var(--clr-white);
    border-radius: 5rem;
    border: none;
    right: 0rem;
    top: 1rem;
}

.divider {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-right: 2px solid var(--clr-gold);
    height: 2rem;
}

.imgs-related-container{
    display: grid;
    margin-top: 0;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.img-related{
    width: 100%;
    border-radius: 25%;
    margin-right: 1rem;
}

.img-dish {
    max-width: 100%;
    border-radius: 50%;
}

.vector-img {
    margin-top: 2rem;
}


/*space*/
.img-in-the-middle {
    margin-top: 3.5rem;
    width: 100%;
    height: 28rem;
}

/*space*/

.dish-name {
    margin-bottom: 10px;
}

.description {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 3rem;
}

.dish-caracteristics {
    display: grid;
    max-width: 100%;
    grid-template-columns: 5fr 0fr 5fr 0fr 5fr;
    text-align: center;
}

.margin-details {
    margin-bottom: 0.5rem;
}

.margin-text {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}